# upper lower functions

In [9]:
text="chinmay"
text1="My Name Is Chinmay"
print(text.islower())
print(text1.islower())

True
False

#### isupper()--- true or false

In [10]:
s="application"
s1="PYTHON"
print(s.isupper())
print(s1.isupper())

False
True

In [13]:
s='23456'
s1="abc123"
print(s.isnumeric())
print(s1.isnumeric())

True
False

In [14]:
s="Application"
s1="App1899"
print(s.isalpha())
print(s1.isalpha())

True
False

In [16]:
s="python programming"
s1="Python Programming"
print(s.istitle())
print(s1.istitle())

False
True

In [18]:
s="python is a programming language"
s1="pythonisprogramming"
print(s.isspace())
print(s1.isspace())

False
False

# string methods
##  join()
## replace()
##

In [21]:
str="python"
print(" ".join(str))

p y t h o n

# join

In [38]:
print(",".join([" python","programming","is","easy"]))

 python,programming,is,easy

# replace

In [29]:
str="python"
str=(str.replace('python','java'))
str

'java'

# SPLIT

In [37]:
S="C***H***I***N***M***A***Y"
print(S.split("***"))

['C', 'H', 'I', 'N', 'M', 'A', 'Y']

# list

In [39]:
s="python is a very intresting language"
lst=list(s)
print(lst)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'a', ' ', 'v', 'e', 'r', 'y', ' ', 'i', 'n', 't', 'r', 'e', 's', 't', 'i', 'n', 'g', ' ', 'l', 'a', 'n', 'g', 'u', 'a', 'g', 'e']

In [40]:
# repalce

In [42]:
s=("python programming")
print(s.replace("gra","application"))

python proapplicationmming

In [48]:
s=" ROHAN is goodboy"
print(s.replace("goodboy","MASS LESS"))

 ROHAN is MASS LESS

# python tuples

In [49]:
s=("python","programming",1989,2019,"machine learning")
s1=(1,2,3,4,5,)
print(s)
print(s1)

('python', 'programming', 1989, 2019, 'machine learning')
(1, 2, 3, 4, 5)

In [52]:
s=("python","programming",1989,2019,"machine learning")
print("t1[0] = ",s[0])
print("t1[1]= ",s[1])

t1[0] =  python
t1[1]=  programming

In [53]:
s=("python","programming",1989,2019,"machine learning")
print(s)
del s
print(s)

('python', 'programming', 1989, 2019, 'machine learning')

NameError: name 's' is not defined

In [54]:
s=("python","programming",1989,2019,"machine learning")
s1=12,13,"ai","bi"
s2=s+s1
print(s2)

('python', 'programming', 1989, 2019, 'machine learning', 12, 13, 'ai', 'bi')

# python directory

In [65]:
user={"name" : "chinmay","age" : "19","address" : "dubai","email id" : "chinmaykrishna999@gmail.com","phone nmber" : "9030997968"}
user["email id"]="CHINMAYKRISHNA@gmail.com"
print("user[email id]")
user["address"]="LAS VEGAS"
print("user[address]")
print("user[name] = " ,user["name"])
print("user[age] = " , user["age"])
print("user[address]= ",user["address"])
print("user[email id]= ",user["email id"])

user[email id]
user[address]
user[name] =  chinmay
user[age] =  19
user[address]=  LAS VEGAS
user[email id]=  CHINMAYKRISHNA@gmail.com

In [70]:
user={"name" : "chinmay","age" : "19","address" : "dubai","email id" : "chinmaykrishna999@gmail.com","phone nmber" : "9030997968"}
del user["age"]
print(user)
user.clear()
del user

{'name': 'chinmay', 'address': 'dubai', 'email id': 'chinmaykrishna999@gmail.com', 'phone nmber': '9030997968'}

# len of dicf

In [71]:
user={"name" : "chinmay","age" : "19","address" : "dubai","email id" : "chinmaykrishna999@gmail.com","phone nmber" : "9030997968"}
print(len(user))

5

# add and modify

In [78]:


user={"name" :"chinmay","age" :"19","address" :"dubai","email id" :"chinmaykrishna999@gmail.com","phone nmber" :"9030997968"}
user2=user.copy()
print(user)
print(user2)
user["address"] = "LAS VEGAS"
print(user)
print(user2)

{'name': 'chinmay', 'age': '19', 'address': 'dubai', 'email id': 'chinmaykrishna999@gmail.com', 'phone nmber': '9030997968'}
{'name': 'chinmay', 'age': '19', 'address': 'dubai', 'email id': 'chinmaykrishna999@gmail.com', 'phone nmber': '9030997968'}
{'name': 'chinmay', 'age': '19', 'address': 'LAS VEGAS', 'email id': 'chinmaykrishna999@gmail.com', 'phone nmber': '9030997968'}
{'name': 'chinmay', 'age': '19', 'address': 'dubai', 'email id': 'chinmaykrishna999@gmail.com', 'phone nmber': '9030997968'}

# values

In [77]:


user={"name" : "chinmay","age" : "19","address" : "dubai","email id" : "chinmaykrishna999@gmail.com","phone nmber" : "9030997968"}
print(user.values())
user1=user.copy()
print(user1.values())

dict_values(['chinmay', '19', 'dubai', 'chinmaykrishna999@gmail.com', '9030997968'])
dict_values(['chinmay', '19', 'dubai', 'chinmaykrishna999@gmail.com', '9030997968'])

# items

In [76]:
user={"name" : "chinmay","age" : "19","address" : "dubai","email id" : "chinmaykrishna999@gmail.com","phone nmber" : "9030997968"}
print(user.items())

dict_items([('name', 'chinmay'), ('age', '19'), ('address', 'dubai'), ('email id', 'chinmaykrishna999@gmail.com'), ('phone nmber', '9030997968')])

In [79]:
list=["python","programming"]
print("{0} {1}".format(list[0],list[1]))

python programming

In [81]:
list=["python","programming"]
print("%s %s" %(list[0],list[1]))

python programming

# cojntact application
## creat contact

In [15]:
contacts = {}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact %s   added"  %  name)
    else: 
        print("contact  %s  already exists"  %   name)
    return

addcontact("chinmay",9030997968)
print(contacts)
addcontact("chinmay",9030997968)
print(contacts)
addcontact("charith",9304567876)
print(contacts)
addcontact("rohan",9876543456)
print(contacts)

contact chinmay   added
{'chinmay': 9030997968}
contact  chinmay  already exists
{'chinmay': 9030997968}
contact charith   added
{'chinmay': 9030997968, 'charith': 9304567876}
contact rohan   added
{'chinmay': 9030997968, 'charith': 9304567876, 'rohan': 9876543456}

# search

In [17]:
def searchcontact(name):
    if name in contacts:
        print(name,  " : " ,contacts[name])
    else:
        print(" %s contact does not exists"% name)
        
    return
searchcontact("chinmay")
searchcontact("rohan")
searchcontact("charith")
searchcontact("maneesh")

chinmay  :  9030997968
rohan  :  9876543456
charith  :  9304567876
 maneesh contact does not exists

# adding contacts

In [22]:
def importcontact(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()), "contact added successfully")
    return
newcontacts={ " shashank":90273645435,"abhi shake":9876576879}
importcontact(newcontacts)

2 contact added successfully

# delete contact

In [24]:
def deletecontact(name):
    if name is contacts:
        del contacts[name]
        print(name," : is deleted from the contacts")
    else:
        print(name," do not exists in the contscts")
    return

deletecontact("maneesh")
deletecontact("manish")

maneesh  do not exists in the contscts
manish  do not exists in the contscts

In [25]:
print(contacts)

{'chinmay': 9030997968, 'charith': 9304567876, 'rohan': 9876543456, ' shashank': 90273645435, 'abhi shake': 9876576879}

# update contact

In [27]:
def updatecontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,"updated")
    else:
        print(name,"donot exists")
    return

updatecontact("charith",4564564563)
print(contacts)

charith updated
{'chinmay': 9030997968, 'charith': 4564564563, 'rohan': 9876543456, ' shashank': 90273645435, 'abhi shake': 9876576879}

In [30]:
lst=[1,2,3,4]
print("%d %d %d %d"%(lst[0],lst[1],lst[2],lst[3]))

1 2 3 4

In [31]:
lst=[1,2,3,4]
print("value at: {0} value at:{1}".format(lst[0],lst[1]))
print("value at: {0} value at:{1}".format(lst[2],lst[3]))

value at: 1 value at:2
value at: 3 value at:4

# python packages and modules

In [32]:
from math import floor as f1 
f1(546587.6574657)

546587

In [34]:
from math import factorial as fact
fact(5)

120

In [36]:
import math
math.factorial(5)

120

###### generate tyhe random numbers between twolimits

In [39]:
import random
def generaterandomnumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
generaterandomnumbers(100,23,89)

72 45 67 43 64 33 72 67 25 55 68 78 30 79 24 44 49 82 43 77 46 56 66 45 23 75 57 89 86 34 23 61 72 25 42 42 40 24 70 57 72 68 84 74 57 31 63 32 86 61 55 69 63 61 27 36 24 72 23 25 42 78 61 70 81 61 61 53 88 29 24 78 62 34 30 53 30 58 45 83 53 58 55 63 51 57 58 74 75 38 47 89 88 65 54 36 52 81 32 56

# math 
## square root

In [40]:

import math
math.sqrt(4)

2.0

### smallintegral value greater thanthe number

In [43]:
a=2.3
print ("The ceil of 2.3 is : ", end="") 
print (math.ceil(a))

The ceil of 2.3 is : 3

### floor greatest integer smaller than thenumber

In [44]:
a=2.3
print ("The floor of 2.3 is : ", end="") 
print (math.floor(a))

The floor of 2.3 is : 2

### fabs: absolute value

In [45]:
a= -10
b=5
print ("The absolute value of -10 is : ", end="") 
print (math.fabs(a))

The absolute value of -10 is : 10.0

### factorial

In [46]:
b=5
print ("The factorial of 5 is : ", end="") 
print (math.factorial(b))

The factorial of 5 is : 120

###    copy sign :value of ‘a’ but with the sign of ‘b’.

In [49]:
a = -10
b = 5.5
c = 15
d = 5
print ("The copysigned value of -10 and 5.5 is : ", end="") 
print (math.copysign(5.5, -10))

The copysigned value of -10 and 5.5 is : -5.5

### greatest common divisor of 2 numbers

In [50]:
a=-10
b=5.5
c=15
d=5

print ("The gcd of 5 and 15 is : ", end="") 
print (math.gcd(5,15))

The gcd of 5 and 15 is : 5

###  exponential

In [51]:
import math
print('The value of 5^e: ' + str(math.exp(5)))

The value of 5^e: 148.4131591025766

### log

In [52]:
import math
print('The value of Log(625), base 5: ' + str(math.log(625, 5)))

The value of Log(625), base 5: 4.0

### return the xtothe power value

In [56]:
import math
print('The value of 5^8: ' + str(math.pow(5, 8)))

The value of 5^8: 390625.0